<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">my-network@0.1.11</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class=""><a [routerLink]="['/']">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Assets
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          
          <li><a [routerLink]="['/Commodity']">Commodity</a></li>
          
        </ul>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
